html {
  font-size: 1.5rem;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  text-align: center;
}
#root {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #1d1b29;
}
article {
  flex: 1;
}
header {
  min-height: 50px;
  background: #aeb8fe;
  padding: 15px;
}
footer {
  min-height: 50px;
  background: #aeb8fe;
  padding: 15px;
}
i {
  font-size: 36px;
}
.page-container {
  padding: 1em;
}
.underline {
  width: 80%;
  margin: auto;
  padding-bottom: 5px;
  border-bottom: 1px solid #fff;
}
.countdown-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.5rem;
}

.calendar-cont {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #aeb8fe;
  border-width: 1px 0;
  padding: 10px 0;
  position: relative;
}
.calendar-item{
  width: 40vw;
}
.calendar-vertical-border{
  position: absolute;
  width: 0px;
  height: 80%;
  border-left: 1px solid #aeb8fe;
  left: 50%;
}